In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
Df = pd.read_csv("testFeatures.csv")

In [3]:
dummies = pd.get_dummies(Df["ürün"],prefix="ürün")

In [4]:
Df = Df.drop(["ürün"],axis="columns")

In [5]:
Df_new = pd.concat([Df,dummies],axis="columns")

In [6]:
Df_new = Df_new.drop(["ürün_Şehriye"],axis="columns")

In [7]:
dummies = pd.get_dummies(Df_new["market"],prefix="market")

In [8]:
dummies = dummies.drop(["market_M"],axis="columns")

In [9]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [10]:
Df_new = Df_new.drop(["market",],axis="columns")

In [11]:
dummies = pd.get_dummies(Df_new["şehir"],prefix="şehir")

In [12]:
dummies = dummies.drop(["şehir_H"],axis="columns")

In [13]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [14]:
Df_new = Df_new.drop(["şehir"],axis="columns")

In [15]:
dummies = pd.get_dummies(Df_new["ürün kategorisi"])

In [16]:
dummies = dummies.drop(["tahıl ve ürünleri"],axis="columns")

In [17]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [18]:
Df_new.drop(["ürün kategorisi"],axis="columns")

,id,tarih,ürün besin değeri,ürün üretim yeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,...,şehir_C,şehir_D,şehir_E,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık
0,0,2021-01-01,120,Yurt içi,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,2021-01-01,103,Yurt içi,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,2021-01-01,160,Yurt içi,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3,2021-01-01,354,Yurt içi,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,2021-01-01,72,Yurt içi,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45499,45499,2021-12-01,110,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45500,45500,2021-12-01,115,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45501,45501,2021-12-01,100,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45502,45502,2021-12-01,110,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45503,45503,2021-12-01,120,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [19]:
dummies = pd.get_dummies(Df_new["ürün üretim yeri"])

In [20]:
dummies = dummies.drop(["Yurt dışı"],axis="columns")

In [21]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [22]:
Df_new = Df_new.drop(["ürün kategorisi","ürün üretim yeri"],axis="columns")

In [23]:
Df_new.tarih = pd.to_datetime(Df_new.tarih)

In [24]:
Df_new["yıl"] = Df_new.tarih.dt.year

In [25]:
Df_new["ay"] = Df_new.tarih.dt.month

In [26]:
Df_new.head()

,id,tarih,ürün besin değeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,ürün_Biber-yeşil,...,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık,Yurt içi,yıl,ay
0,0,2021-01-01,120,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2021,1
1,1,2021-01-01,103,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2021,1
2,2,2021-01-01,160,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2021,1
3,3,2021-01-01,354,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,2021,1
4,4,2021-01-01,72,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,2021,1

In [27]:
import joblib

In [28]:
mj = joblib.load("model_joblib")

In [29]:
X =Df_new.drop(["id","tarih"],axis="columns")

In [30]:
X.head()

,ürün besin değeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,ürün_Biber-yeşil,ürün_Brüksel laha.,ürün_Bulgur,...,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık,Yurt içi,yıl,ay
0,120,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2021,1
1,103,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2021,1
2,160,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2021,1
3,354,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,2021,1
4,72,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,2021,1

In [31]:
fiyat_tahmin = mj.predict(X)

In [32]:
fiyat_tahmin

array([74.76321472, 32.06214782, 31.49682372, ..., 45.18066945,
       43.15318635, 48.32638427])

In [35]:
fiyat_tahmin = pd.Series(fiyat_tahmin)

In [36]:
Df_son = pd.concat([Df_new["id"],fiyat_tahmin],axis="columns")

In [37]:
Df_son

          id          0
0          0  74.763215
1          1  32.062148
2          2  31.496824
3          3  23.810555
4          4  35.584996
...      ...        ...
45499  45499  41.378609
45500  45500  43.340052
45501  45501  45.180669
45502  45502  43.153186
45503  45503  48.326384

[45504 rows x 2 columns]

In [41]:
model_Ridge = joblib.load("model_Ridge")

In [42]:
fiyat_tahmin2 = model_Ridge.predict(X)

In [43]:
fiyat_tahmin2 = pd.Series(fiyat_tahmin2)

In [44]:
fiyat_tahmin2

0        74.746461
1        32.066452
2        31.501191
3        23.810504
4        35.579859
           ...
45499    41.378727
45500    43.339187
45501    45.178919
45502    43.152421
45503    48.323005
Length: 45504, dtype: float64

In [48]:
model_Ridge.coef_[95]

0.34780085541531847

In [49]:
model_Ridge.coef_[94]

4.091583988068771

In [58]:
model_Ridge.coef_[94] = 4.095
model_Ridge.coef_[95] = 0.350

In [59]:
fiyat_tahmin3 = model_Ridge.predict(X)

In [60]:
fiyat_tahmin3 = pd.Series(fiyat_tahmin3)

In [61]:
fiyat_tahmin3

0        81.652420
1        38.972412
2        38.407150
3        30.716463
4        42.485818
           ...
45499    48.308877
45500    50.269336
45501    52.109069
45502    50.082571
45503    55.253155
Length: 45504, dtype: float64

In [62]:
Df_son.to_csv("tahmin.csv")

In [63]:
Df_son.columns = ["id","fiyat_tahmin"]

In [65]:
Df_son["fiyat_tahmin"] = Df_son["fiyat_tahmin"].round(2)

In [66]:
Df_son

          id  fiyat_tahmin
0          0         74.76
1          1         32.06
2          2         31.50
3          3         23.81
4          4         35.58
...      ...           ...
45499  45499         41.38
45500  45500         43.34
45501  45501         45.18
45502  45502         43.15
45503  45503         48.33

[45504 rows x 2 columns]

In [67]:
Df_son.to_csv("tahmin.csv")