In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
Df = pd.read_csv("train.csv")

In [3]:
Df

,tarih,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir
0,2016-01-01,kıyma,120,et,33.41,Yurt içi,M,A
1,2016-01-01,tavuk,103,et,11.22,Yurt içi,M,A
2,2016-01-01,hindi,160,et,11.12,Yurt içi,M,A
3,2016-01-01,Bakla-kuru,354,sebze ve bakliyat,7.02,Yurt içi,M,A
4,2016-01-01,Bakla-taze,72,sebze ve bakliyat,13.14,Yurt içi,M,A
...,...,...,...,...,...,...,...,...
227515,2020-12-01,fındık,110,kuruyemiş,51.19,Yurt dışı,B,H
227516,2020-12-01,fıstık,115,kuruyemiş,55.14,Yurt dışı,B,H
227517,2020-12-01,kaju,100,kuruyemiş,58.60,Yurt dışı,B,H
227518,2020-12-01,badem,110,kuruyemiş,51.83,Yurt dışı,B,H
227519,2020-12-01,ceviz,120,kuruyemiş,57.22,Yurt dışı,B,H

In [4]:
dummies = pd.get_dummies(Df["ürün"],prefix="ürün")

In [5]:
dummies

,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,ürün_Biber-yeşil,ürün_Brüksel laha.,ürün_Bulgur,ürün_Buğday ekmeği,...,ürün_tam buğday ekmek,ürün_tavuk,ürün_tereyağ,ürün_yoğurt,ürün_yumurta,ürün_Çilek,ürün_Üzüm,ürün_İncir,ürün_Şeftali,ürün_Şehriye
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
227516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
227517,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
227518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
227519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
Df = Df.drop(["ürün"],axis="columns")

In [7]:
Df_new = pd.concat([Df,dummies],axis="columns")

In [8]:
Df_new.head()

,tarih,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,...,ürün_tam buğday ekmek,ürün_tavuk,ürün_tereyağ,ürün_yoğurt,ürün_yumurta,ürün_Çilek,ürün_Üzüm,ürün_İncir,ürün_Şeftali,ürün_Şehriye
0,2016-01-01,120,et,33.41,Yurt içi,M,A,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016-01-01,103,et,11.22,Yurt içi,M,A,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2016-01-01,160,et,11.12,Yurt içi,M,A,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016-01-01,354,sebze ve bakliyat,7.02,Yurt içi,M,A,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-01-01,72,sebze ve bakliyat,13.14,Yurt içi,M,A,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
Df.describe()

       ürün besin değeri    ürün fiyatı
count      227520.000000  227520.000000
mean          143.113924      16.348622
std           133.218871      13.260935
min             8.000000       0.730000
25%            41.000000       7.330000
50%            83.000000      12.600000
75%           250.000000      20.900000
max           402.000000     141.330000

In [10]:
Df.isna().sum()

tarih                0
ürün besin değeri    0
ürün kategorisi      0
ürün fiyatı          0
ürün üretim yeri     0
market               0
şehir                0
dtype: int64

In [11]:
Df["şehir"].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype=object)

In [12]:
Df_new = Df_new.drop(["ürün_Şehriye"],axis="columns")

In [13]:
Df_new.head()

,tarih,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,...,ürün_sucuk,ürün_tam buğday ekmek,ürün_tavuk,ürün_tereyağ,ürün_yoğurt,ürün_yumurta,ürün_Çilek,ürün_Üzüm,ürün_İncir,ürün_Şeftali
0,2016-01-01,120,et,33.41,Yurt içi,M,A,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016-01-01,103,et,11.22,Yurt içi,M,A,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2016-01-01,160,et,11.12,Yurt içi,M,A,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016-01-01,354,sebze ve bakliyat,7.02,Yurt içi,M,A,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-01-01,72,sebze ve bakliyat,13.14,Yurt içi,M,A,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [14]:
Df_new["market"].unique()

array(['M', 'C', 'B'], dtype=object)

In [15]:
dummies = pd.get_dummies(Df_new["market"],prefix="market")

In [16]:
dummies.head()

   market_B  market_C  market_M
0         0         0         1
1         0         0         1
2         0         0         1
3         0         0         1
4         0         0         1

In [17]:
dummies = dummies.drop(["market_M"],axis="columns")

In [18]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [19]:
Df_new.head()

,tarih,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,...,ürün_tavuk,ürün_tereyağ,ürün_yoğurt,ürün_yumurta,ürün_Çilek,ürün_Üzüm,ürün_İncir,ürün_Şeftali,market_B,market_C
0,2016-01-01,120,et,33.41,Yurt içi,M,A,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016-01-01,103,et,11.22,Yurt içi,M,A,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2016-01-01,160,et,11.12,Yurt içi,M,A,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016-01-01,354,sebze ve bakliyat,7.02,Yurt içi,M,A,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-01-01,72,sebze ve bakliyat,13.14,Yurt içi,M,A,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [20]:
Df_new = Df_new.drop(["market",],axis="columns")

In [21]:
dummies = pd.get_dummies(Df_new["şehir"],prefix="şehir")

In [22]:
dummies.head()

   şehir_A  şehir_B  şehir_C  şehir_D  şehir_E  şehir_F  şehir_G  şehir_H
0        1        0        0        0        0        0        0        0
1        1        0        0        0        0        0        0        0
2        1        0        0        0        0        0        0        0
3        1        0        0        0        0        0        0        0
4        1        0        0        0        0        0        0        0

In [23]:
dummies = dummies.drop(["şehir_H"],axis="columns")

In [24]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [25]:
Df_new.head()

,tarih,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,şehir,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,...,ürün_Şeftali,market_B,market_C,şehir_A,şehir_B,şehir_C,şehir_D,şehir_E,şehir_F,şehir_G
0,2016-01-01,120,et,33.41,Yurt içi,A,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2016-01-01,103,et,11.22,Yurt içi,A,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2016-01-01,160,et,11.12,Yurt içi,A,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2016-01-01,354,sebze ve bakliyat,7.02,Yurt içi,A,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,2016-01-01,72,sebze ve bakliyat,13.14,Yurt içi,A,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [26]:
Df_new = Df_new.drop(["şehir"],axis="columns")

In [27]:
Df_new.head()

,tarih,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,...,ürün_Şeftali,market_B,market_C,şehir_A,şehir_B,şehir_C,şehir_D,şehir_E,şehir_F,şehir_G
0,2016-01-01,120,et,33.41,Yurt içi,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2016-01-01,103,et,11.22,Yurt içi,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2016-01-01,160,et,11.12,Yurt içi,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2016-01-01,354,sebze ve bakliyat,7.02,Yurt içi,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,2016-01-01,72,sebze ve bakliyat,13.14,Yurt içi,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [28]:
Df_new["ürün kategorisi"].unique()

array(['et', 'sebze ve bakliyat', 'tahıl ve ürünleri',
       'süt ürünleri ve kahvaltılık', 'meyve', 'kuruyemiş'], dtype=object)

In [29]:
dummies = pd.get_dummies(Df_new["ürün kategorisi"])

In [30]:
dummies.head()

,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık,tahıl ve ürünleri
0,1,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,0,0,0,1,0,0
4,0,0,0,1,0,0

In [31]:
dummies = dummies.drop(["tahıl ve ürünleri"],axis="columns")

In [32]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [33]:
Df_new.head()

,tarih,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,...,şehir_C,şehir_D,şehir_E,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık
0,2016-01-01,120,et,33.41,Yurt içi,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2016-01-01,103,et,11.22,Yurt içi,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2016-01-01,160,et,11.12,Yurt içi,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,2016-01-01,354,sebze ve bakliyat,7.02,Yurt içi,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2016-01-01,72,sebze ve bakliyat,13.14,Yurt içi,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [34]:
Df_new.drop(["ürün kategorisi"],axis="columns")

,tarih,ürün besin değeri,ürün fiyatı,ürün üretim yeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,...,şehir_C,şehir_D,şehir_E,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık
0,2016-01-01,120,33.41,Yurt içi,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2016-01-01,103,11.22,Yurt içi,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2016-01-01,160,11.12,Yurt içi,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,2016-01-01,354,7.02,Yurt içi,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2016-01-01,72,13.14,Yurt içi,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227515,2020-12-01,110,51.19,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
227516,2020-12-01,115,55.14,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
227517,2020-12-01,100,58.60,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
227518,2020-12-01,110,51.83,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
227519,2020-12-01,120,57.22,Yurt dışı,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [35]:
dummies = pd.get_dummies(Df_new["ürün üretim yeri"])

In [36]:
dummies.head()

   Yurt dışı  Yurt içi
0          0         1
1          0         1
2          0         1
3          0         1
4          0         1

In [37]:
dummies = dummies.drop(["Yurt dışı"],axis="columns")

In [38]:
Df_new = pd.concat([Df_new,dummies],axis="columns")

In [39]:
Df_new.head()

,tarih,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,...,şehir_D,şehir_E,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık,Yurt içi
0,2016-01-01,120,et,33.41,Yurt içi,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,2016-01-01,103,et,11.22,Yurt içi,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2016-01-01,160,et,11.12,Yurt içi,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2016-01-01,354,sebze ve bakliyat,7.02,Yurt içi,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,2016-01-01,72,sebze ve bakliyat,13.14,Yurt içi,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1

In [40]:
Df_new = Df_new.drop(["ürün kategorisi","ürün üretim yeri"],axis="columns")

In [41]:
Df_new.head()

,tarih,ürün besin değeri,ürün fiyatı,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,ürün_Biber-yeşil,...,şehir_D,şehir_E,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık,Yurt içi
0,2016-01-01,120,33.41,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,2016-01-01,103,11.22,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2016-01-01,160,11.12,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2016-01-01,354,7.02,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,2016-01-01,72,13.14,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [42]:
Df_new.tarih = pd.to_datetime(Df_new.tarih)

In [43]:
Df_new["yıl"] = Df_new.tarih.dt.year

In [44]:
Df_new["ay"] = Df_new.tarih.dt.month

In [45]:
Df_new.head()

,tarih,ürün besin değeri,ürün fiyatı,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,ürün_Biber-yeşil,...,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık,Yurt içi,yıl,ay
0,2016-01-01,120,33.41,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2016,1
1,2016-01-01,103,11.22,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2016,1
2,2016-01-01,160,11.12,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2016,1
3,2016-01-01,354,7.02,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,2016,1
4,2016-01-01,72,13.14,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,2016,1

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
model = LinearRegression()

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X = Df_new.drop(["tarih","ürün fiyatı"],axis="columns")

In [50]:
X.head()

,ürün besin değeri,ürün_Armut,ürün_Bakla-kuru,ürün_Bakla-taze,ürün_Bamya,ürün_Barbunya-kuru,ürün_Bezelye-taze,ürün_Biber-yeşil,ürün_Brüksel laha.,ürün_Bulgur,...,şehir_F,şehir_G,et,kuruyemiş,meyve,sebze ve bakliyat,süt ürünleri ve kahvaltılık,Yurt içi,yıl,ay
0,120,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2016,1
1,103,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2016,1
2,160,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2016,1
3,354,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,2016,1
4,72,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,2016,1

In [51]:
Y = Df_new["ürün fiyatı"]

In [52]:
Y.head()

0    33.41
1    11.22
2    11.12
3     7.02
4    13.14
Name: ürün fiyatı, dtype: float64

In [53]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.3)

In [54]:
model.fit(X_train,Y_train)

LinearRegression()

In [55]:
model.score(X_test,Y_test)

0.8905422316097563

In [56]:
import joblib

In [57]:
joblib.dump(model,"model_joblib")

['model_joblib']

In [58]:
mj = joblib.load("model_joblib")

In [59]:
mj.score(X_test,Y_test)

0.8905422316097563

In [60]:
from sklearn.preprocessing import MinMaxScaler

In [61]:
Scaler = MinMaxScaler()

In [62]:
from sklearn.linear_model import Ridge

In [63]:
model_Ridge = Ridge()

In [64]:
model_Ridge.fit(X_train,Y_train)

Ridge()

In [65]:
model_Ridge.score(X_test,Y_test)

0.8905416204041958

In [66]:
joblib.dump(model_Ridge,"model_Ridge")

['model_Ridge']